@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px 20px;
  width: 90%;
  gap: 50px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
}

.user .image-user img {
  border-radius: 999px;
  width: 200px;
}

.redes_sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.redes_sociais img {
  width: 50px;
  transition: transform 0.3s ease-in-out; /* Suaviza a animação */
}

.redes_sociais img:hover {
  transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
}

.sobre {
  max-width: 1060px;
}

.sobre h2 {
  text-align: center;
}

.sobre p {
  text-align: justify;
  font-size: 20px;
}

.links-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 50px;
}

.links-section img {
  width: 100%;
  height: auto;
  display: block; /* garante que o padding e margens respeitem o container */
  transition: transform 0.3s ease-in-out; /* Suaviza a animação */
}

.links-section img:hover {
  transform: translateY(-10px); /* Move a imagem 5px para cima */
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(13, 13, 13);
  color: #fff;
  padding: 30px;
}

@media (max-width: 650px) {
  .user {
    font-size: 16px;
  }

  .user .image-user img {
    width: 110px;
  }

  .redes_sociais img {
    width: 30px;
    transition: transform 0.3s ease-in-out; /* Suaviza a animação */
  }

  .sobre p {
    text-align: justify;
    font-size: 16px;
  }

  .links-section {
    gap: 20px;
  }
  footer {
    font-size: 11px;
  }
}
